<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.bisecurity.dao.AbacRuleDao">

<!--    查询当前请求规则-->
    <select id="queryNowAbacRule" parameterType="com.yun.bisecurity.dto.AbacRuleQueryDto" resultType="com.yun.bisecurity.entity.AbacRuleEntity">
        SELECT abac_rule.*
        FROM menu INNER JOIN abac_menu ON menu.id = abac_menu.menu_id
                  INNER JOIN abac_rule ON abac_menu.abac_rule_id = abac_rule.id
        WHERE menu.path = #{queryParam.route}
            AND menu.mode = #{queryParam.mode}
    </select>

    <!--    查询规则-->
    <select id="queryAbacRule" parameterType="com.yun.bisecurity.dto.AbacRuleQueryDto" resultType="com.yun.bisecurity.entity.AbacRuleEntity">
        SELECT abac_rule.*
        -- 任一参数不为空时则需关联查询
        <choose>
            <when test="(queryParam.route != null and queryParam.route != '') or (queryParam.mode != null and queryParam.mode != '')">
                FROM menu INNER JOIN abac_menu ON menu.id = abac_menu.menu_id
                    INNER JOIN abac_rule ON abac_menu.abac_rule_id = abac_rule.id
            </when>
            <otherwise>
                FROM abac_rule
            </otherwise>
        </choose>
        WHERE abac_rule.name LIKE CONCAT(#{queryParam.name},"%")
            <if test="queryParam.route != null and queryParam.route != ''">
                AND menu.path LIKE CONCAT(#{queryParam.route},"%")
            </if>
            <if test="queryParam.mode != null and queryParam.mode != ''">
                AND menu.mode = #{queryParam.mode}
            </if>
    </select>

</mapper>